.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/
.vscode/
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
*.keystore
*.jks
key.properties

# Env
*.env
.env.*

# OS
.DS_Store
Thumbs.db
